<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Dummy Site</title>
</head>
<body>
<h1>Create Student</h1>

<form action="/create"  th:action="@{/create}" method="post" th:object="${student}"> <!-- student = @ModelAttribute -->

    <input type="text" th:field="*{firstName}" />
    <input type="text" th:field="*{lastName}" />
    <input type="date" th:field="*{enrollmentDate}" />
    <input type="text" th:field="*{cpr}" />

    <input type="submit" value="Send" />

</form>

</body>
</html>